/* COLORS */

/* -------------------------------------------------------------------------------- */

$color_primary: #00A5EA;
$color_primary_light: #C5E4FF;
$color_primary_dark: #0048DB;
$color_primary_text: #002041;
$color_secondary_text: #737373;
$color_white: #FFF;
$color_whitish: #F0F0F0;
$color_transp: transparent;
