/* VARIABLES */

/* -------------------------------------------------------------------------------- */

//Font family

$font_sans_serif: OpenSans, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;

/* -------------------------------------------------------------------------------- */

//Font sizes

$font_xl: 60px;
$font_lg: 45px;
$font_md: 30px;
$font_sm: 20px;
$font_xs: 16px;
$font_xxs: 14px;

/* -------------------------------------------------------------------------------- */

//Font weights

$thin: 100;
$extra_light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;
$extra_bold: 800;
$black: 900;

/* -------------------------------------------------------------------------------- */

//Golden ratio

$phi: 1.6180339887498948482;
